table.dataTable thead th .dt-column-order {
  display: none !important;
}

table.dataTable tbody {
  background-color: #ffffff;
}
table.dataTable tbody tr {
  background-color: #ffffff;
}

.dt-layout-row{
  margin-top: 0 !important;
}
table.dataTable thead {
  background-color: #ffffff !important; 
 
}

table.dataTable td  {
  text-align: center !important;
}
table.dataTable th  {
  text-align: center !important;
}









